{% extends "home/index.html" %}

{% block content %}
    <div class="mycontainer2 container">
        <div class="mycard2">
            <h2>Bitte Passwort eingeben: </h2>
            <form method="post" class="myform">
                {% csrf_token %}
                <input name="password" class="pwinput custom-input" type="password" placeholder="Passwort eingeben">
                <button type="submit" id="weiterbutton" class="btn btn-primary">weiter</button>
            </form>
            {% if form.errors %}
            <div class="text-danger">{{ form.errors.password }}</div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
