.mycontainer2 {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.mycard2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    max-width: 700px;
}

.myform button {
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, darkred, red, darkred);

    font-size: x-large;
    font-weight: bold;

    margin: 10px;
    padding: 2px;

    color: white;
}   

.myform input {
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, darkred, red, darkred);

    font-size: x-large;
    font-weight: bold;

    color: white;

    margin: 10px;
    padding: 2px;

    text-align: center;
}